.page.theme_light {
  --accent-color: #353430;
  --accent-color-hover: rgba(50, 49, 45, 0.40);
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --text-accent-color: #353430;
  --main-background-color: #FFF1F7;
  --section-title-color: #353430;
  --accent-text-background-color: #FF8DCB;

  background-image: url(../images/cover-image-light.png);
}

.theme_light .decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --accent-color-hover: rgba(50, 49, 45, 0.40);
    --main-text-color: #353430;
    --title-color: #FFC2E6;
    --text-accent-color: #353430;
    --main-background-color: #FFF1F7;
    --section-title-color: #353430;
    --accent-text-background-color: #FF8DCB;
  }
  .page.theme_auto {
    background-image: url(../images/cover-image-light.png);
  }

  .theme_auto .decorated-element {
    display: none;
  }
  
}